.header {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

/* area for user actions */
.container-actions {
    min-height: 72vh;
}

.footer {
  position:fixed;
  bottom: 0;
  width: 100%;
  min-height: 2rem;
  line-height: 2rem;
}
.question-container {
    min-height: 50vh; /* vertical stretch across whole view height */
}

.main{
  min-height: 777rem;
}

.nav{
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 2rem;
  line-height: 2rem;
}

.btn-circle {
    width: 8rem;
    height: 8rem;
    text-align: center;
    border-radius: 4rem;
    font-size: 4rem;
}

.but{
  text-align:center;
}
