.header {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

/* area for user actions */
.container-actions {
    min-height: 72vh;
}

.footer {
    bottom: 0;
    width: 100%;
    min-height: 2rem;
    line-height: 2rem;
}
.mids{
  text-align: center;
}

.media{
  text-align: center;
}

.img {
  width: 25vw;
  height: auto;
}
