.header {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

/* area for user actions */
.container-actions {
    min-height: 20vh;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 2rem;
    line-height: 2rem;
}

#tagline{
  text-align:center;
  margin-top: 6rem;
  font-size: 3rem;
}

#superscript{
  font-size: 1.999rem;
}

#size{
  text-align:center;
}
