

/* area for user actions */
.container-actions {
    min-height: 72vh;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 8vh;
    line-height: 8vh;
    background-color: #f5f5f5;
}
