    body{
      font-family:Roboto;
    background-image:url("https://www.walldevil.com/wallpapers/w04/054021-blurry-city-city-lights-depth-of-field-eiffel-tower-france-night-time-paris.jpg");
}

  .white{
    color: white;
  }
